_GROWME/Growme/App8/App8/App8.Android/Web References/wsGrowmeAPI/GrowmeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/GrowmeAPI/api" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/GrowmeAPI/api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/GrowmeAPI/api">
      <s:element name="DoWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoWorkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoWorkSoapIn">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="DoWorkSoapOut">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="GrowmeWSSoap">
    <wsdl:operation name="DoWork">
      <wsdl:input message="tns:DoWorkSoapIn" />
      <wsdl:output message="tns:DoWorkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GrowmeWSSoap" type="tns:GrowmeWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://localhost/GrowmeAPI/api/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GrowmeWSSoap12" type="tns:GrowmeWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://localhost/GrowmeAPI/api/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GrowmeWS">
    <wsdl:port name="GrowmeWSSoap" binding="tns:GrowmeWSSoap">
      <soap:address location="http://localhost:49752/GrowmeWS.asmx" />
    </wsdl:port>
    <wsdl:port name="GrowmeWSSoap12" binding="tns:GrowmeWSSoap12">
      <soap12:address location="http://localhost:49752/GrowmeWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>